<br>
<br>
<br>


<h1>Welcome, <%= @user.username %>!</h1>
<h4>Let's get started, add a new list or view all lists!</h4>
<br>
<br>
<%= link_to "Inventory Lists", inventory_lists_path, method: 'get' %>
<br>
<%= link_to "Create new list", new_inventory_list_path %>